$color:rgb(77, 124, 115);
$color1: rgb(230, 230, 230);
$darkColor:rgb(98, 101, 104);

.layout-grid{
    width: 900px;
    margin: auto;
    margin-top: 170px;
    //border:2px solid;
    display: grid;
    grid-template-areas: 
    'nav nav nav nav'
    'content content content content';
    gap:30px;
    position: relative;
    //padding:10px
}

@mixin display($direction, $align, $justify){
    display:flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin span-display($weight, $size){
    font-weight: $weight;
    font-size: $size;
}

@mixin input($top-left, $top-right, $bot-left, $bot-right){
    border:none;
    border-right:1px solid rgb(219, 219, 219);
    cursor: pointer;
    box-shadow: 3px 3px 5px -3px rgb(153, 153, 153);
    font-size: 1.1rem;
    height:50px;
    border-radius: $top-left $top-right $bot-left $bot-right;
    transition: all 0.25s;
    &:hover{
        background-color: rgb(230, 230, 230);
    }

    &:focus{
        outline-width: 0px;
        background-color: rgb(221, 221, 221);
    }
}

.inputs{
    // background-color: #2196F3;
    // text-align: center;
    width: 100%;
    position:relative;
    margin:auto;
    grid-area: nav;
    flex-wrap: wrap;
    //border:2px solid;
    // width: 100%;
    input, button{
        width: 17.925%;
    }
}

.inputs-left{
    @include input(50px, 0px, 0px, 50px);
    padding-left:1rem;
}

.inputs-center{
    @include input(0px, 0px, 0px, 0px);
    padding-left:20px;
}

.inputs-right{
    @include input(0px, 50px, 50px, 0px);
    padding-left:20px;
}

.posts{
    //background-color: #2196F3;
    @include display(column, center, none);
    grid-area: content;
    width: 100%;
    margin: auto;
}

.side-section{
    //grid-area: side;
}

.hotel-post{
    width:100%;
    //max-width:960px;
    height:200px;
    margin-bottom:25px;
    // margin: auto;
    @include display(row, center, space-between);
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 5px -2px rgb(170, 170, 170);
    color:$color;
    overflow: hidden;
    // img{
    //     height:100%;
    // }
    div{
        //background-color: red;
        // padding: 5px;
        // //padding-right: 20px;
        // width: 25%;
        //@include display(column, left, unset);

        // div{
        //     // height:35%;
        //     // width:80%;
        //     // margin:auto;
        //     // padding: 10px;
        //     border:1px solid;

        // }

        
        .rating{
            display: flex;
            flex-direction: row;
            justify-content: left;
            img{
                height: 50%;
                width: auto;
            }
        }
    }


    .hotel-img{
            // @include display(column, unset, unset);
            //margin-top: 0px;
            // margin:auto;
            // padding:0;
            // width:200px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            // border: 1px solid;
            //width:50%;
            width:200px;
            // border-radius: 10px;
                // border:1px solid;
            overflow: hidden;
            background-color: rgb(66, 66, 66);
            position: relative;
            // margin-left: 0px;
            // position:relative;
            // top:0px;
    
    }

    .middle, .links{
        @include display(column, left, space-between);
        
        // border-left: 1px solid $color1;
        // border-right: 1px solid $color1;
        width:36%;
        // padding-left: 30px;
        // padding-right: 30px;
        height: 90%;
        span{
            height:20%;
            // border-bottom:1px solid;
        }

        .description{
            height:50%;
            padding-bottom:20px;
        }

        .price{
            @include span-display(bold, 40px)
        }

        .location{
            width: 150px;
            @include span-display(bold, 15px);
            text-align: center;
            display: flex;
            align-items: center;
            transition:all 0.25s;
            cursor:pointer;
            &:hover{
                transform:scale(1.25)
            }
        }
    }

    .middle{
        padding: 0px 10px 0 10px;
        color:$darkColor;
    }

    .main-img{
        // position: absolute;
        // bottom:0    
        //height:100%;
        width: 120%;
        //width: 200px;
       // border:2px solid red;
    }

    .links{
        // div{
        //     height: 100%;
        //     padding: 20px;
        // }
        display: flex;
        gap:5px;
        a{
            width: 95%;
            border-radius: 10px;
            height: 50%;
            position:relative;
            border:1px solid $darkColor;
                text-decoration: none;
            div{
                position: absolute;
                // padding: none;
                // padding:10px;
                //height: 50px;
                //text-align: center;
                //background-color: $color;
                //border:none;
                
                //border-radius: 50px;
                font-weight:bold;
                //] height:50%;
                font-size:30px;
                //border: 1px solid$color;
            }

            div, span{
                color:$darkColor;
            }

            span{
                //background-color: red;
                position: absolute;
                right:5px;
                bottom:10px;
            }
            
            cursor:pointer;
            transition:all 0.25s;

            &:hover{
                background-color: rgb(229, 231, 230);
                color:$color;
            }
        }
    }
}


.hotel-mark{
    position: absolute;
    right:5px;
    bottom:5px;
    width: 30px;
    height: 30px;
    backdrop-filter: blur(5px);
    background-color: rgba(177, 177, 177, 0.596);
    border-radius: 50px;
    transition: all 0.25s;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width:70%;
        //border: 1px solid black
    }
    cursor: pointer;
    &:hover{    
        background-color: rgba(255, 255, 255, 0.829);
    }
}

.hotel-map{
    margin-bottom:50px;
    background-color: white;
    // padding: 20px;
    border:1px solid rgb(182, 182, 182);
    width: 100%;
    height: 500px;
    box-shadow: 2px 2px 5px -2px rgb(170, 170, 170);
    border-radius: 20px;
    overflow: hidden;
    animation:show 0.5s;
    iframe{
        width: 100%;
        height: 500px;
    }
}

@keyframes show{
    from{
        height: 0px;
    }
    
    to{
        height: 500px;
    }
}

.posts-placeholder{
    position: absolute;
    top:15rem;
    font-size: 2rem;
    font-weight: bold;
    color:rgb(146, 146, 146)
}

.waiting{
    position: relative;
    top:10rem;
    left:auto;
    right:auto;
    //border:1px solid;
    height: 150px;
    width: 110px;
}

.waiting-message{
    position: absolute;
    bottom:0;
    width: 110px;
    text-align: center;
}

.spinner{
    width:100px;
    height:100px;
    border-radius:100%;
    border:5px solid rgb(99, 99, 99);
    border-top:5px solid rgba(209, 209, 209, 0);
    position:absolute;
    top:0;
    left:auto;
    right:auto;
    animation: spin 1s linear;
    animation-iteration-count: infinite;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}