.inputs {
  text-align: center;
}

.inputs-left {
  border: none;
  border-right: 1px solid rgb(219, 219, 219);
  cursor: pointer;
  box-shadow: 3px 3px 5px -3px rgb(153, 153, 153);
  font-size: 20px;
  height: 50px;
  border-radius: 50px 0px 0px 50px;
  transition: all 0.25s;
  padding-left: 30px;
}
.inputs-left:hover {
  background-color: rgb(235, 236, 236);
}
.inputs-left:focus {
  outline-width: 0px;
  background-color: rgb(235, 236, 236);
}

.inputs-center {
  border: none;
  border-right: 1px solid rgb(219, 219, 219);
  cursor: pointer;
  box-shadow: 3px 3px 5px -3px rgb(153, 153, 153);
  font-size: 20px;
  height: 50px;
  border-radius: 0px 0px 0px 0px;
  transition: all 0.25s;
  padding-left: 30px;
}
.inputs-center:hover {
  background-color: rgb(235, 236, 236);
}
.inputs-center:focus {
  outline-width: 0px;
  background-color: rgb(235, 236, 236);
}

.inputs-right {
  border: none;
  border-right: 1px solid rgb(219, 219, 219);
  cursor: pointer;
  box-shadow: 3px 3px 5px -3px rgb(153, 153, 153);
  font-size: 20px;
  height: 50px;
  border-radius: 0px 50px 50px 0px;
  transition: all 0.25s;
  padding-left: 30px;
}
.inputs-right:hover {
  background-color: rgb(235, 236, 236);
}
.inputs-right:focus {
  outline-width: 0px;
  background-color: rgb(235, 236, 236);
}

.hotel-post {
  width: 50%;
  max-width: 9600px;
  height: 300px;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 5px -2px rgb(170, 170, 170);
  color: rgb(77, 124, 115);
}
.hotel-post div {
  height: 90%;
  padding-left: 20px;
  padding-right: 20px;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
}
.hotel-post div div {
  height: 35%;
  width: 80%;
  margin: auto;
}
.hotel-post div div a {
  text-decoration: none;
  padding: none;
  padding: 10px;
  text-align: center;
  background-color: rgb(77, 124, 115);
  border: none;
  color: white;
  border-radius: 50px;
  font-weight: bold;
  font-size: 17px;
  transition: all 0.25s;
  border: 1px solid rgb(77, 124, 115);
  cursor: pointer;
}
.hotel-post div div a:hover {
  background-color: rgb(229, 231, 230);
  color: rgb(77, 124, 115);
}
.hotel-post div .hotel-img {
  margin-top: 0px;
  padding: 0;
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 1px solid;
  overflow: hidden;
}
.hotel-post div img {
  width: 100%;
}
.hotel-post div .rating {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.hotel-post div .rating img {
  height: 20px;
  width: auto;
}
.hotel-post .middle {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: unset;
  color: rgb(147, 151, 154);
  border-left: 1px solid rgb(230, 230, 230);
  border-right: 1px solid rgb(230, 230, 230);
  width: 50%;
  padding-left: 30px;
  padding-right: 30px;
}
.hotel-post .middle span {
  height: 20%;
}
.hotel-post .middle .description {
  height: 50%;
  padding-bottom: 20px;
}
.hotel-post .middle .price {
  font-weight: bold;
  font-size: 40px;
}
.hotel-post .middle .location {
  font-weight: bold;
  font-size: 15px;
}/*# sourceMappingURL=booking.css.map */