.layout-grid {
  width: 900px;
  margin: auto;
  display: grid;
  grid-template-areas: "nav nav nav nav" "content content content content";
  gap: 30px;
  position: relative;
}

.inputs {
  width: 100%;
  position: relative;
  margin: auto;
  grid-area: nav;
  flex-wrap: wrap;
}
.inputs input, .inputs button {
  width: 17.925%;
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: none;
  grid-area: content;
  width: 100%;
  margin: auto;
}

.inputs-left {
  border: none;
  border-right: 1px solid rgb(219, 219, 219);
  cursor: pointer;
  box-shadow: 3px 3px 5px -3px rgb(153, 153, 153);
  font-size: 20px;
  height: 50px;
  border-radius: 50px 0px 0px 50px;
  transition: all 0.25s;
  padding-left: 20px;
}
.inputs-left:hover {
  background-color: rgb(235, 236, 236);
}
.inputs-left:focus {
  outline-width: 0px;
  background-color: rgb(235, 236, 236);
}

.inputs-center {
  border: none;
  border-right: 1px solid rgb(219, 219, 219);
  cursor: pointer;
  box-shadow: 3px 3px 5px -3px rgb(153, 153, 153);
  font-size: 20px;
  height: 50px;
  border-radius: 0px 0px 0px 0px;
  transition: all 0.25s;
  padding-left: 20px;
}
.inputs-center:hover {
  background-color: rgb(235, 236, 236);
}
.inputs-center:focus {
  outline-width: 0px;
  background-color: rgb(235, 236, 236);
}

.inputs-right {
  border: none;
  border-right: 1px solid rgb(219, 219, 219);
  cursor: pointer;
  box-shadow: 3px 3px 5px -3px rgb(153, 153, 153);
  font-size: 20px;
  height: 50px;
  border-radius: 0px 50px 50px 0px;
  transition: all 0.25s;
  padding-left: 20px;
}
.inputs-right:hover {
  background-color: rgb(235, 236, 236);
}
.inputs-right:focus {
  outline-width: 0px;
  background-color: rgb(235, 236, 236);
}

.hotel-post {
  width: 100%;
  height: 200px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 5px -2px rgb(170, 170, 170);
  color: rgb(77, 124, 115);
  overflow: hidden;
}
.hotel-post div .rating {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.hotel-post div .rating img {
  height: 50%;
  width: auto;
}
.hotel-post .hotel-img {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  overflow: hidden;
  background-color: rgb(66, 66, 66);
}
.hotel-post .middle, .hotel-post .links {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  width: 36%;
  height: 90%;
}
.hotel-post .middle span, .hotel-post .links span {
  height: 20%;
}
.hotel-post .middle .description, .hotel-post .links .description {
  height: 50%;
  padding-bottom: 20px;
}
.hotel-post .middle .price, .hotel-post .links .price {
  font-weight: bold;
  font-size: 40px;
}
.hotel-post .middle .location, .hotel-post .links .location {
  font-weight: bold;
  font-size: 15px;
}
.hotel-post .middle {
  padding: 0px 10px 0 10px;
  color: rgb(98, 101, 104);
}
.hotel-post .main-img {
  width: 120%;
}
.hotel-post .links {
  display: flex;
  gap: 5px;
}
.hotel-post .links a {
  width: 95%;
  border-radius: 10px;
  height: 50%;
  position: relative;
  border: 1px solid rgb(98, 101, 104);
  text-decoration: none;
  cursor: pointer;
  transition: all 0.25s;
}
.hotel-post .links a div {
  position: absolute;
  font-weight: bold;
  font-size: 30px;
}
.hotel-post .links a div, .hotel-post .links a span {
  color: rgb(98, 101, 104);
}
.hotel-post .links a span {
  position: absolute;
  right: 5px;
  bottom: 10px;
}
.hotel-post .links a:hover {
  background-color: rgb(229, 231, 230);
  color: rgb(77, 124, 115);
}/*# sourceMappingURL=booking.css.map */