@mixin flex($direction, $align, $justify, $gap){
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
    gap:$gap;
}

.sidebar{
    width: 300px;
    height:300px;
    padding:30px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 5px -2px rgb(170, 170, 170);
}

.sidebar-flex{
    @include flex(column, left, unset, 30px);
}


.item-flex{
    @include flex(row, left, unset, 5px);
}

.criteria-name{
    font-weight: bold;
    font-size: 25px;
}

.criteria{
    margin-left: 30px;
    font-size: 20px;
    
    div{
        border:1px solid;
        border-radius:5px;
        margin-top:10px;
        width: 50px;
        text-align: center;
    }
}